<!-- app/views/vitimas/index.html.erb -->
<h1>Vítimas</h1>
<%= link_to 'Adicionar Vítima', new_vitima_path, class: 'btn btn-primary' %>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Endereço</th>
      <th>Necessidade</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @vitimas.each do |vitima| %>
      <tr>
        <td><%= vitima.nome %></td>
        <td><%= vitima.telefone %></td>
        <td><%= vitima.endereco %></td>
        <td><%= vitima.necessidade %></td>
        <td>
          <%= link_to 'Editar', edit_vitima_path(vitima), class: 'btn btn-secondary' %>
          <%= link_to 'Excluir', vitima_path(vitima), method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
