<h1><%= action_name == 'new' ? 'Adicionar Doador' : 'Editar Doador' %></h1>

<%= form_with model: @doador, local: true do |form| %>
  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone %>
  </div>

  <
