<h1>Doadores</h1>
<%= link_to 'Adicionar Doador', new_doador_path, class: 'btn btn-primary' %>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Endereço</th>
      <th>Ofertas</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @doadores.each do |doador| %>
      <tr>
        <td><%= doador.nome %></td>
        <td><%= doador.telefone %></td>
        <td><%= doador.endereco %></td>
        <td><%= doador.ofertas %></td>
        <td>
          <%= link_to 'Editar', edit_doador_path(doador), class: 'btn btn-secondary' %>
          <%= link_to 'Excluir', doador_path(doador), method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
