<h1>Lista de Doadores</h1>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Endereço</th>
      <th>Ofertas</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @doadores.each do |doador| %>
      <tr>
        <td><%= doador.nome %></td>
        <td><%= doador.telefone %></td>
        <td><%= doador.endereco %></td>
        <td><%= doador.ofertas %></td>
        <td>
          <%= link_to 'Excluir', doador_path(doador, token: doador.token), method: :delete, data: { confirm: 'Tem certeza?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
